@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  /* Primary */
  --very-dark-blue-main-background: hsl(233, 47%, 7%);
  --dark-desaturated-blue-card-background: hsl(244, 38%, 16%);
  --soft-violet-accent: hsl(277, 64%, 61%);
  /* Neutral */
  --white-main-heading-stats: hsl(0, 0%, 100%);
  --slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white-stat-headings-: hsla(0, 0%, 100%, 0.6);
  --main-font-family: 'Inter', sans-serif;
  --secondary-font-family: 'Lexend Deca', sans-serif;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  height: 100vh;
  background: var(--very-dark-blue-main-background);
  font-family: var(--main-font-family);
}

ul {
  list-style: none;
}

.main {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.feature {
  display: flex;
  width: 1115px;
  border-radius: 1em;
  overflow: hidden;
}

.feature__content {
  flex: 1.2;
  padding: 7.3rem 7.4rem 5rem 7.4rem;
  background: var(--dark-desaturated-blue-card-background);
}

.feature__heading-h1 {
  font-size: 3.6rem;
  color: var(--white-main-heading-stats);
}

.feature__heading-h1 span {
  color: var(--soft-violet-accent);
}

.feature__text {
  margin-top: 2.6rem;
  line-height: 1.6;
  font-size: 1.51rem;
  padding-right: 5rem;
  color: var(--slightly-transparent-white-main-paragraph);
}

.feature__stats {
  margin-top: 7.2rem;
  display: flex;
  gap: 6.2rem;
}

.feature__stat {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.feature__stat-number {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--white-main-heading-stats);
}

.feature__stat-text {
  text-transform: uppercase;
  font-size: 1.35rem;
  font-family: var(--secondary-font-family);
  color: var(--slightly-transparent-white-stat-headings-);
}

.feature__img-container {
  position: relative;
  flex: 1;
}

.feature__img-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--soft-violet-accent);
  opacity: 0.8;
  filter: brightness(50%);
}

.feature__img {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  display: block;
  height: auto;
}

.attribution {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.3rem;
  text-align: center;
  color: var(--white-main-heading-stats);
}

.attribution a {
  color: var(--white-main-heading-stats);
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1140px) {
  .feature {
    width: 97%;
  }

  .feature__content {
    padding: 5.3rem 5.4rem 3rem 5.4rem;
  }
}

@media only screen and (max-width: 1060px) {
  .feature__content {
    padding: 7.3rem 5.4rem 3rem 5.4rem;
  }
  .feature__heading-h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 785px) {
  body {
    display: flex;
    flex-direction: column;
  }

  .main {
    display: block;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  .feature {
    flex-direction: column-reverse;
    margin: 0 auto;
  }

  .feature__content {
    width: 90%;
    margin: 0 auto;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
  }

  .feature__heading-h1 {
    text-align: center;
  }

  .feature__text {
    text-align: center;
    padding-right: 0;
  }

  .feature__stats {
    margin-top: 5.2rem;
    justify-content: space-around;
  }

  .feature__content {
    padding: 3.8rem 2rem 3rem 2rem;
  }

  .feature__img-container {
    width: 90%;
    margin: 0 auto;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    overflow: hidden;
  }

  .feature__img {
    width: 100%;
    object-fit: contain;
    border-bottom-right-radius: 0;
  }

  .attribution {
    position: static;
    bottom: auto;
    left: auto;
    transform: none;
    margin-top: auto;
    align-self: center;
    padding-bottom: 2rem;
  }
}

@media only screen and (max-width: 475px) {
  .feature__stats {
    gap: 3.2rem;
  }
}

@media only screen and (max-width: 375px) {
  .feature__text {
    padding-left: 1em;
    padding-right: 1em;
  }

  .feature__stats {
    margin-top: 3em;
    flex-direction: column;
    align-items: center;
  }

  .feature__stat {
    align-items: center;
  }
}

@media only screen and (max-width: 374px) {
  .feature__text {
    padding: 0;
  }
}

@media only screen and (max-width: 340px) {
  .feature__content {
    padding: 3.8rem 1rem 3rem 1rem;
  }

  .feature__heading-h1 {
    font-size: 2.8rem;
  }
}
